.App {
  text-align: center;
}

h2{
  color: red;
}

h1{
  color: blue;
}
h1,h2{
  text-align: center;
}
img{
  width: 150px;
  height: 100px;
}
.header{
  color: pink;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  align-self: stretch;
}

.menu{

}